@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akshar:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/*general style*/
body {
    font-family: Akshar, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #DFF3E4;
}
/*header image*/
header {
    background: url('../image/furnleaves.jpeg');
    background-size: cover;
    height: 100px;
    background-position: center center;
}
/*headings and main-title style*/
h1, h2 {
    font-family: Acme, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 200%;
}

#title {
    color: whitesmoke;
    text-decoration: none;
    font-size: 280%;
    float: left; 
    margin: 1%;  
}
/* navigation link style*/
#menu {
    letter-spacing: 2px;
    font-size: 120%;
}

#menu, #title {
    line-height: 80px;
}

#menu ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

#menu li {
    margin-right: 30px;
    float: right; 
    margin: 1%;
}

#menu li a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    border-bottom: 2px solid whitesmoke;
  }
.active {
    border-bottom: 2px solid whitesmoke;
}  
/*main image*/

#main-image {
    height: 400px;
    width: 80%;
    background-image: url(../image/Main-Image.jpg);
    margin-left: 10%;
    border: 2px solid black;
}

/*footer style*/

footer {
    background: url('../image/furnleaves.jpeg');
    background-size: cover;
    height: 60px;
    background-position: center center;
}

.social-media {
    text-align: right;
}

.social-media > li {
   display: inline;
}

h6 {
    text-align: left;
    font-size: 120%;
    padding: 0;
    color: whitesmoke;
}

.social-media i {
    font-size: 120%;
    margin: 1%;
    padding: 0;
    color: whitesmoke;
}
