@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Acme, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #DFF3E4;
}


